$primary: #3292a6;
$primary-overlay:rgba(50, 146, 166, 0.8);

body{
  margin-top: 105px;
}

.navbar{
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: #fff;

  .nav-item{
    font-size: 1.4rem;
    padding-right: 20px;
  }
}
#showcase{
  position: relative;
  background: url("../images/mountains.jpg");
  min-height:600px;

  .primary-overlay{
    background: $primary-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #arr {
    width: 15px;
  }
}
.info-header{
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid;
}

#authors{
  img{
    margin-top: -50px;
  }
  .fa{
    font-size: 25px;
    transition: all ease-in-out 0.5s;
  }
  .card{
    transition: all ease-in-out 0.5s;
  }
  .card:hover{
    background: $primary;
    color: #fff;
    .fa{
      color: #fff;
    }
  }
}

.backToCV {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 20px;

  img {
    width: 20%;
    border: 1px solid #78C2AD;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
}
